* {
    background-color: black;
    color: whitesmoke;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    /*     align-content: center;
    align-items: center;
    text-align: center; */
}

table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid pink;
    background-color: rgb(247, 208, 215);

}
caption{
    color: red;
    background-color: rgb(247, 208, 215);
    text-transform: uppercase;
    padding: 10px;
    
}

td,th{
    border: 1px solid pink;
    text-align: center;

}
